{% extends "layout.njk" %}

{% block head %}
    <title>Curso {{item.title}}</title>
{% endblock %}

{% block content %}

    <div id="wrapper" class="site">
        <h1>{{ item.title }}</h1>
    </div>

    <section class="site">

        <div class="card" id="{{item.id}}">
            
            <div class="card__site-container">
                <iframe src="https://rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
            </div>
            <div class="card__info">
                <p class="card__price">{{item.duration}} Módulos</p>
                <p class="card__price">{{item.price}}</p>
            </div>
        </div>

    </section>
    
{% endblock %}