<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Desafio 3-1</title>
        {% endblock%}
        
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/"> Conteúdos </a>
                <a href="/about">Sobre</a>
            </div>
        </header>

        {% block content %}

        {% endblock %}
        
    </body>
</html>
